.root {
    -fx-background-image: url("/clientResources/gui/endGame/sagradaBlank.PNG");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-text-fill: url("/clientResources/gui/endGame/endGame.png");
}

