.root {
    -fx-background-image: url("/clientResources/gui/endBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-text-fill: url("/clientResources/gui/endGame/fillOption2.PNG");
}

